<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home">COMPANY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/employees">Employees</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/employeesByDep">Developers By Department</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/projects">Projects</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/obuki">Trainings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading" th:if="${developerRabotiNaProekt} == null">Assign developer on project</h2>
        <h2 class="jumbotron-heading" th:if="${developerRabotiNaProekt} != null">Edit developer works on project</h2>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="/projects/edit">

<!--                <div class="form-group">-->
<!--                    <label>Developers</label>-->
<!--                    <select name="developers" class="form-control">-->
<!--                        <option th:each="dev : ${developers}"-->
<!--                            th:value="${dev.getEmbg()}"-->
<!--                            th:text="${dev.getIme()} + ' ' +${dev.getPrezime()}">-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label>Projects</label>-->
<!--                    <select name="projects" class="form-control">-->
<!--                        <option th:each="p : ${projects}"-->
<!--                                th:value="${p.getId}">-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </div>-->


                <div class="form-group">
                    <label>Developer</label>
                    <select name="developers" class="form-control">
                        <option th:if="${developerRabotiNaProekt} != null"
                                th:selected="${developerRabotiNaProekt.getEmbg_developer().getEmbg()!= null && developerRabotiNaProekt.getEmbg_developer().getEmbg()==dev.getEmbg()}"
                                th:each="dev : ${developers}"
                                th:value="${dev.getEmbg()}"
                                th:text="${dev.getIme()} + ' ' +${dev.getPrezime()}">
                        </option>
                        <option th:if="${developerRabotiNaProekt} == null"
                                th:each="dev : ${developers}"
                                th:value="${dev.getEmbg()}"
                                th:text="${dev.getIme()} + ' ' +${dev.getPrezime()}">
                        </option>
                    </select>
                </div>

<!--                <div class="form-group">-->
<!--                    <label for='id_proekt'>Project Id:</label>-->
<!--                    <input type="text"-->
<!--                           class="form-control"-->
<!--                           id="id_proekt"-->
<!--                           name="id_proekt"-->
<!--                           th:value="( ${developerRabotiNaProekt}!= null ? ${developerRabotiNaProekt.getId_proekt()} :'' )"-->
<!--                           required>-->
<!--                </div>-->

                <div class="form-group">
                    <label>Project</label>
                    <select name="projects" class="form-control">
                        <option th:if="${developerRabotiNaProekt} != null"
                                th:selected="${developerRabotiNaProekt.getId_proekt().getId_proekt()!= null &&  developerRabotiNaProekt.getId_proekt().getId_proekt()== p.getId_proekt()}"
                                th:each="p : ${projects}"
                                th:value="${p.getId_proekt()}"
                                th:text="${p.getIme_proekt()}">
                        </option>
                        <option th:if="${developerRabotiNaProekt} == null"
                                th:each="p : ${projects}"
                                th:value="${p.getId_proekt()}"
                                th:text="${p.getIme_proekt()}">
                        </option>
                    </select>
                </div>


                <div class="form-group">
                    <label for='raboti_od'>Raboti od:</label>
                    <input type="text"
                           class="form-control"
                           id="raboti_od"
                           name="raboti_od"
                           th:value="( ${developerRabotiNaProekt}!= null ? ${developerRabotiNaProekt.getRaboti_od()} :'' )"
                           required>
                </div>
                <div class="form-group">
                    <label for='raboti_do'>Raboti do:</label>
                    <input type="text"
                           class="form-control"
                           id="raboti_do"
                           name="raboti_do"
                           th:value="( ${developerRabotiNaProekt}!= null ? ${developerRabotiNaProekt.getRaboti_do()} :'' )">
                </div>

                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/projects">Back</a>
            </form>

        </div>
    </div>
</div>

</body>
</html>
